.label
{
	-fx-background-radius:4;
	-fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-background-color: linear-gradient(#63A842, #6AB335);
}
.label:hover {
	-fx-font-size: 12px;
    -fx-text-fill:#3E5AE3;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.9) , 5, 0.1 , 0 , 1 );
}
#welText {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #847C24;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.9) , 6, 0.0 , 0 , 2 );
}
#scroll_main{
     -fx-background-color: linear-gradient(#E4EAA2, #9CD672);
}
#identify_groups{
	-fx-font-size: 12px;
    -fx-fill: #000000;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
#forSide
{ 
   -fx-background-color:none;
    -fx-background-radius:3;
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
#forSide:hover {
	-fx-font-size: 12px;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.9) , 5, 0.1 , 0 , 1 );
    -fx-background-color: linear-gradient(#C0C0C0,#AAEFAA);
}
#meru_logo
{
 -fx-text-fill:#000000;
 -fx-font-size:25;
 -fx-font-family:BatmanForeverAlternate;
 -fx-background-color:none;
}
#meru_logo:hover
{
 -fx-background-color:none;
 -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.0) , 0, 0.0 , 0 , 0 );
}
