root
{
-fx-background-color: linear-gradient(#E4EAA2, #9CD672); 
}

.root
{ 
-fx-background-color: linear-gradient(#E4EAA2, #9CD672);
}

.label
{
	-fx-background-radius:4;
	-fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-background-color: linear-gradient(#63A842, #6AB335);
}
.label:hover {
	-fx-font-size: 12px;
    -fx-text-fill:#3E5AE3;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.9) , 5, 0.1 , 0 , 1 );
}
#systitle {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #847C24;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.9) , 6, 0.0 , 0 , 2 );
}